body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  .text-brand{
    color:#5057EA
  }
  .bg-brand{
    background-color:#5057EA
  }
  .flex-2{
    flex: 2;
  }
  .border-brand{
    border-color:#5057EA
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/Montserrat-Thin.ttf');
    font-weight: 100;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/Montserrat-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/Montserrat-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/Montserrat-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/Montserrat-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/Montserrat-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/Montserrat-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  